@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Grey+Qo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background-color: #f5f5f7;
    overflow-x: hidden;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #eaeaea;
    margin: 20px auto;
}

h1 {    
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
}


.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0051a8;
}

svg {
    width: 30px;
}

section {
    padding-left: 100px;
    animation: fadeInUp 2s ease-out;
}

.section_a {
    margin-top: 50px;
    padding-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding-bottom: 200px;
}

.section_b {
    padding-top: 50px;
}

.section-content {
    padding-bottom: 50px;
}

.section-header-row {
    display: flex;
    justify-content: space-between;
}

.section-header-a {
    text-align: left;
    font-size: 80px;
    color: black;
}

.section-header-b {
    line-height: 1.17;
    font-size: 30px;
    font-weight: 600;
    padding-right: 100px;
    padding-top: 15px;
}

.section-subheader {
    margin-top: 75px;
    text-align: left;
    font-size: 60px;
    color: black;
}

/* Video Container and Animation */
.video-container {
    position: relative;
    height: 75vh;
    overflow: hidden;
    transition: border-radius 0.3ms ease; /* Smooth transition */
    transform-origin: top center;
    animation: fadeInUp 2s ease-out;
}

.presentation-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video scales to cover the container while maintaining aspect ratio */
}

/* ItemList */
.itemList-container {
    display: flex;
    overflow-x: auto;
    justify-content: left;
    padding: 20px;
}

.itemList-container::-webkit-scrollbar {
    width: 0;
}

.products {
    margin-top: 20px;
    display: flex;
    gap: 60px;
}

.product {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 600px;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

.product h2 {
    padding-left: 20px;
    text-align: center;
    font-size: 35px;
}

.product h2 a {
    color: gray;
    font-size: 0.8em;
}

.product img {
    width: 100%;
    height: 400px;
    align-items: center;
    object-fit: contain;
}

.product p {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Caveat";
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.product:nth-child(1) {
    transition-delay: 0ms;
}

.product:nth-child(2) {
    transition-delay: 150ms;
}

.product:nth-child(3) {
    transition-delay: 250ms;
}

.product:nth-child(4) {
    transition-delay: 350ms;
}

.product:nth-child(5) {
    transition-delay: 450ms;
}

/* Hover effect for product */
.product:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    margin: 10px;
    border-radius: 12px;
}

.product:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Andy */
.details {
    padding: 0 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: #007aff;
    color: #eee;
    padding: 5px 20px; /* Adjust padding as needed */
    border-radius: 20px;
    border: 2px #eee solid;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap; /* Prevent text from wrapping */
}


button:active {
    background-color: #c5c3c3;
    color: #333;
}

/* Small Screen */
@media (max-width: 1100px) {
    section {
        padding-left: 75px;
    }
    .section-header-b {
        padding-right: 50px;
    }
    .video-container {
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 48px;
    }
}

/* Animation test */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start 20px below the final position */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at the final position */
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1.5s ease-out;
}
