@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #f5f5f7;
    color: #1d1d1f;
}

/* Ensure box-sizing is applied universally */
*, *::before, *::after {
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;   
    
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    width: 100%; /* Ensure it takes full width */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visual separation */
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Distributes space between logo and icons */
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.nav-box {
    flex : 1;
    padding: 10px;
}

navbar-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns the icons to the left */
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    text-align: left;
}

.navbar-pages {
    align-items: center;
}

.list-page {
    flex: 1; /* All items will have equal width */
    text-align: center;
    padding: 10px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns the icons to the right */
}

.navbar-icons svg {
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0;
    transition: all 0.1s ease;
}

nav a:hover {
    color: #007aff;
    border-bottom: 2px solid #007aff;
    padding-bottom: 10px; /* Adjust padding on hover for expansion effect */
}

/* Additional CSS to ensure body content starts below the sticky navbar */
body::before {
    content: "";
    display: block;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007aff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0051a8;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer a {
    color: #007aff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.logo-img {
    max-width: 60px; /* Set max width as necessary */
    height: 40px; /* Maintain aspect ratio */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10; 
} */

/* Item Details Style */
main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image/background2.jpg'); 
}


#itemDetails-container {
    display: flex;
    flex-direction: column;
    position: relative; 
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 1vw;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    margin: 50px 400px;
}

#itemDetails-container #itemName{
    font-size: 40px;
}

#imageSection {
    padding: 0 2vw;
}


#itemDetails {
    flex-direction: column;
}

#itemDetails table {
    text-align: left;
    margin-bottom: 20px;
    border: solid 2px black;
    text-wrap: wrap;

}

#itemDetails table th {
    text-align: right;
    padding-right: 20px;
}

#itemImageGallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10rem;
    width: 100%; /* Set your desired width */
    height: 400px; /* Set your desired height */
    position: relative; /* Required for absolute positioning */
    overflow:  hidden; /* Set your desired overflow */
}

#itemImage {
    position: center;
    width: 80%;
    height: 100%;
    object-fit: cover; /* Maintains aspect ratio and crops image if necessary */
    transform: translate(-50%, -50%); /* Centers the image */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(10px 10px 5px #222);
}

#itemImageGallery .button {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    width: 40px; 
    height: 40px; 
    flex-shrink: 0;
}

#deviceSection {
    padding: 0 2vw;
}

#deviceSection .detail{
    background-color: white;
}

#deviceSection h3{
    padding-bottom: 5px;
}

#feature {
    width: 100%;
    margin: 15px auto;
}

/* #feature h3{
    font-size: 28px;
} */

#feature ul{
    list-style-type: none;
}

.grid-container {
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); */
    /* grid-template-columns: auto auto auto; */
    gap: 10px;
}


.grid-container .detail,
#feature {
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    align-content: center;
}

.grid-container,
#feature{
    text-align: center;
}

.grid-container .detail li{
    list-style-type: none;
}

#selectionSection {
    padding: 20px;
    flex: 2 1 auto; 
}

/* Centering and styling for storage and color options */
.spec {
    display: flex;
    flex-direction: column; /* Stack the Storage and Color sections */
    align-items: center; /* Center align the content */
    margin-top: 20px;
    margin-bottom: 30px; /* Add bottom margin to prevent overlap */
    text-align: center; /* Center text content */
}

.spec .title {
    height: 30px;
}

.spec .title a {
    /* margin-bottom: 20px; */
    font-size: 20px;
    font-weight: 500;
    color: #7e7a7a;

}

.spec .storage,
.spec .color {
    display: flex; /* Arrange options side by side */
    justify-content: space-between; /* Center align the options */
    margin-bottom: 20px; /* Add spacing between sections */
    width: 100%; /* Make sections take full width */
}


.spec label.container {
    font-size: 20px; /* Font size for the label text */
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1); /* Light shadow around the option */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.spec label.container input[type="radio"] {
    opacity: 0; /* Hide the actual radio button */
    position: absolute; 
}

.spec label.container input[type="radio"]:checked + .checkmark {
    border-width: 2p solid;
    border-color: #007aff; /* Border color when checked */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow when selected */
}

.spec label.container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; 
    border-radius: 10px;
    border: 3px solid transparent; /* Transparent border initially */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.pb{
    /* position: absolute;  */
    /* bottom: 20px; Adjust the distance from the bottom */
    /* right: 20px; Adjust the distance from the right */
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the items */
    gap: 20px;
}

.pb .price {
    letter-spacing: 7px;
    font-weight: 650;
    font-size: 32px;
    white-space: nowrap;
}

.pb button {
    background-color: #007aff;
    color: #eee;
    padding: 5px 20px; /* Adjust padding as needed */
    border-radius: 20px;    
    width: 100%;
    border: 2px #eee solid;
    font-size: 28px;
    cursor: pointer;
    white-space: nowrap;
}

.pb button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
    border: 2px black solid;
    background-color: #eee;
    color: #007aff;
}

.pb button:active {
    background-color: #c5c3c3;
    color: #333;
}

/* Change font color on hover */
.spec label.container:hover {
    border-width: 2px solid;
    color: #007aff; /* Change to desired hover color */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

/*Responsive Design*/
@media (max-width: 1300px) {
    #itemDetails-container {
        margin: 50px 200px;
    } 
}

@media (max-width: 1100px) {
    #itemDetails-container {
        margin: 50px 10vw;
    }

    .spec .color {
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .spec .color label.container {
        width: 50%; 
        margin: 0; 
    }

    #itemImageGallery {
        height: 400px;
    }
}

@media (max-width: 600px) {
    #itemDetails-container {
        margin: 50px 2vw;
    }

    #itemImageGallery {
        height: 300px;
    }
}